# Build e distribuição
build/
dist/*
!dist/CorreRafa.exe
*.spec
highscore.txt

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
*.lnk
launch_game.vbs
